@font-face {
  font-family: "Montserrat", sans-serif;
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}


body {
  background-color: #f5f5f5;
  color: #303a46;
  font-family: 'Montserrat', sans-serif;
}


/*
Light blue: 52D6DD 
Red: 8C3119 
Green: 9fb55a 
Black: 303a46 
Beige: BDBA91*/

button {
    position: relative;
    bottom: -10px;
    display: inline-block;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    padding: 10px 50px;
    border-radius: 30rem; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn {
    font-family: 'allroundgothic-text', sans-serif;
    background-color: #303a46;
    color: #f9f9f9;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bolder;
    text-transform: uppercase;
}

p{font-family: "Montserrat", sans-serif;}

section{
    display: block;
    padding-bottom: 20px;
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
}


.single-table, img {
    transition: all 0.3s ease-in-out;
}


ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

div{
    display: block;
    unicode-bidi: isolate;
}


.title {text-align: center;
}

/* --- FOOTER STYLING --- */
footer {
    padding: 60px 0;
    color: #001026;
}

.footer-content.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    max-width: 300px;
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

footer h5 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 25px;
    text-transform: uppercase;
}

footer img {
    margin-bottom: 15px;
}

/* --- Links Section --- */
.footer-services {
    display: flex;
    flex-direction: column;
}

.footer-services a {
    color: #e7212f; 
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: color 0.3s ease;
}

.footer-services a:hover {
    color: #ffffff;
    transform: none;
}


/* --- Social Icons --- */
.footer-icons {
    margin-top: 20px; 
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
}

.footer-icons a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-link-list a {
    display: flex;
    align-items: center;
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1rem;
    padding: 2px 0;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.social-link-list a:hover {
    color: #ffffff; 
}
.social-link-list a .link-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-right: 10px;
    color: inherit; 
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.bg-facebook{
    background-color: #f29f05;
} 
.bg-linkedin {
    background-color: #003c00;
}
.bg-twitter {
    background-color: #e7212f;
} 


.bg-facebook:hover {
    background-color: #ffcd6f;
    transform: translateY(-2px);
}

.bg-linkedin:hover {
    background-color: #4b8d65;
    transform: translateY(-2px);
}

.bg-twitter:hover {
    background-color: #ffadb3;
    transform: translateY(-2px);
}

.facebook-link-text{color: #f29f05;}
.linkedin-link-text{color: #003c00;}
.twitter-link-text{color: #e7212f;}

.facebook-link-text:hover {
    color: #ffcd6f;
    transform: translateY(-2px);
}

.linkedin-link-text:hover {
    color: #4b8d65;
    transform: translateY(-2px);
}

.twitter-link-text:hover {
    color: #ffadb3;
    transform: translateY(-2px);
}

/* --- Contact Section --- */
.contact-us-container {
    margin-bottom: 15px;
    align-items: flex-start;
}

.contact-us-info p {
    max-width: none;
    margin: 0;
}

.contact-us-info i {
    color: #0000FF; 
    font-size: 1.2rem;
}

.contact-us-info .icon {
    min-width: 20px;
    text-align: center;
    margin-top: 4px;
}

.mission-section {
    padding: 80px 100px;
    color: #f9f9f9;
    text-align: center;
    height: fit-content;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .container {
        position: relative;
        z-index: 2;
    }

    h1 {
        font-weight: 500;
        
    }
    
    .title {
        padding: 30px;
        margin-bottom: 30px !important;
    }

    .btn {
        padding: 10px 20px;
        background-color: #4E97E0;
        color: #f9f9f9;
    }

    .btn:hover {
        background-color: #001026;
        color: #f9f9f9;
    }
}

.mission-section-overlay {
    background-color: rgba(21, 58, 4, 0.632);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 15px; 
    border-radius: 50%;
    font-size: 20px;
    line-height: 1;
    transition: opacity 0.3s, background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#backToTopBtn:hover {
    background-color: #0056b3;
}